:root {
    --primary-bg-color: #4ea9d3;   /* Cor de fundo principal */
    --secondary-bg-color: #de933b; /* Cor de fundo secundária */
    --text-color: #fff;            /* Cor do texto */
    --hover-bg-color: #4ea9d3;     /* Cor de fundo ao passar o mouse */
    --hover-border-color: #de933b; /* Cor da borda ao passar o mouse */
    --button-bg-color: transparent; /* Cor de fundo do botão */
    --button-border-color: #fff;    /* Cor da borda do botão */
    --carrossel-hover-bg: #4ea9d39c; /* Cor de fundo do botão do carrossel ao passar o mouse */
    --input-border-color: #ccc;     /* Cor da borda do input */
    --placeholder-color: #de933b;   /* Cor do placeholder */
    --carrossel-button-color: #de933b; /* Cor do botão do carrossel */
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    font-weight: bolder;
    margin: 10px;
}

body { 
    background-color: var(--primary-bg-color);
    margin-top: 70px;
    overflow-x: hidden; 
    position: relative;
}

p, a {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    display: block;
    transform: scale(1.05); 
}

ul li {
    list-style: none;
    padding: 5px;
}

header {
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
}

header .logo{
    position: absolute;
    min-width: 30px;
    max-width: 70px;
    right: 20%;
    top: 7px;
}

.logo a:hover {
    display: block;
}

label {
    display: none;
    cursor: pointer;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li, nav a {
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--hover-bg-color);
    border-radius: 25px;
}

button {
    background-color: var(--button-bg-color);
    border: solid 3px var(--button-border-color);
    border-radius: 7px;
    padding: 10px;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: var(--secondary-bg-color);
    border: none;
    border: solid 3px var(--hover-border-color);
    transform: scale(1.2); 
}

.carrossel {
	position: relative;
	display: flex;
	width: 100dvw;
	max-height: 90dvh;
	overflow: hidden;
}

.carrossel button {
	background-color: transparent;
	color: var(--carrossel-button-color);
	border: none;
	font-size: 30px;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	border-radius: 20%;
	transition: all .5s ease;
	z-index: 10;
}

.carrossel button:hover {
	background-color: var(--carrossel-hover-bg);
	backdrop-filter: blur(10px);
}

.carrossel #proximoBtn {
	right: 10px;
}

.carrossel #anteriorBtn {
	left: 10px;
}

.carrossel .imagem {
	position: relative;
	width: 100%;
	flex-shrink: 0;
	transition: all 1s ease;
}

.carrossel .imagem img {
	width: 100%;
}

section{
    text-align: center;
}

.introducao {
    text-align: center;
    width: 95%;
    margin: auto;
}

#nos {
    margin-top: 10%;
}

.containere, .containerd {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.containere section, .containerd section {
    width: 50%;
}

.containere img, .containerd img {
    border: solid 5px var(--text-color);
    border-radius: 10%;
    width: 80%;
}

.containere p {
    text-align: right;
    margin: 5%;
}

.containerd p {
    text-align: left;
    margin: 5%;
}

.containere h1, .containerd h1 {
    font-size: xx-large;
}

.containere h3, .containerd h3, .plano h3, .servicos h2 {
    font-size: x-large;
}

.containere p, .containerd p, .containe h3, .plano p, .servicos p, #sobre p {
    font-size: large;
}

.vantagens p, .vantagens h2 {
    text-align: left;
    margin: 10px;
}

.vantagens p {
    padding: 20px;
}

.plano, .servicos {
    display: flex;
    justify-content: center;
    text-align: center;
}

.plano section, .servicos section {
    width: 25%;
    margin: 50px;
    text-align: center;
}

.plano img, .servicos img {
    width: 90%;
    border: solid 5px var(--text-color);
    border-radius: 10%;
}

.servicos button {
    margin: 5%;
}

#sobre {
    display: flex;
    justify-content: center;
    text-align: center;
}

#sobre form {
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}

input {
    border: 1px solid var(--input-border-color);
    width: 45%;
}

textarea {
    width: 100%;
}

input, textarea {
    outline: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: var(--primary-bg-color);
    font-weight: bold;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder-color);
    font-weight: bolder;
}

#sobre section {
    margin: 50px;
}

#sobre #p {
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

#sobre button {
    width: 70%;
}

footer {
    background-color: var(--secondary-bg-color);
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer p {
    font-size: medium;
    margin: 15px;
}

.social ul {
    list-style: none;
    margin: 15px;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social i {
    font-size: 25px;
}

.social i:hover {
    transform: scale(1.2);
}
