*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    background-color: #4ea9d3;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    cursor:  url('cursor.cur'), auto;
}

/* Estilos para fazer todas as imagens quadradas, exceto logotipos */
img:not(.logo) {
    width: 75%; /* Garante que a imagem ocupe 100% da largura do contêiner */
    height: auto; /* Permite que a altura seja ajustada automaticamente */
    max-width: 100%; /* Evita que as imagens se estendam além do contêiner */
}

/* Estilos para o logotipo no header e no footer */
header .logo img,
footer .logo img {
    width: 35%; /* Mantém a largura original do logotipo */
    height: auto; /* Mantém a altura original do logotipo */
    max-width: none; /* Remove a limitação de largura máxima */
    max-height: none; /* Remove a limitação de altura máxima */
}


/* Estilos para o header */
#site-header {
    background-color: #de933b; /* Cor de fundo do header */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: top 0.3s; /* Adiciona uma transição suave para o topo do header */
    top: 0;
    border-radius: 0 0 10% 10%;
    z-index: 1;
}

#site-header .logo {
    margin: 0;
}

#site-header .logo img {
    max-width: 75%;
    height: auto;
}

#site-header .menu-icon {
    display: none; /* Oculta o ícone do menu no PC e Tablet */
}

/* Estilos para o menu principal e submenu */
#site-header .menuu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

#site-header .menuu li {
    margin-right: 20px;
    position: relative; /* Para o submenu */
}

#site-header .menuu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

#site-header .menuu a:hover {
    color: #4ea9d3; /* Cor alternativa quando hover */
}

/* Estilos para o submenu */
#site-header .menuu .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    display: none;
}

#site-header .menuu li:hover .submenu {
    display: block;
}

#site-header .submenu li {
    margin: 0;
}

#site-header .submenu a {
    color: #333; /* Cor do texto do submenu */
    font-weight: normal;
}

#site-header .submenu a:hover {
    color: #4ea9d3; /* Cor alternativa quando hover no submenu */
}


.cursor-pointer:hover {
    cursor: url('cursor.cur'), auto;
        }

.direito {
    font-size: small;
}

img:not(.logo) {
    width: calc(75% - 0px); /* Utilizando calc para a largura */
    height: auto;
    max-width: 100%;
}

header .logo img, footer .logo img {
    width: calc(35% - 0px); /* Utilizando calc para a largura */
    height: auto;
    max-width: none;
    max-height: none;
}

/*header {
    background-color: #de933b;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    top: 0;
    border-radius: 0 0 calc(10% + 0px) calc(10% + 0px); /* Utilizando calc para o raio da borda 
    z-index: 1;
}

header .menu-icon {
    display: none;
}

header .menuu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header .menuu li {
    margin-right: 20px;
}

header .menuu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

header .menuu a:hover {
    color: #4ea9d3;
    cursor: url('cursor.cur'), auto;
    transform: scale(1.1);
}*/

section {
    margin: 50px 0;
    padding: 10px;
    border-radius: calc(5px + 0px); /* Utilizando calc para o raio da borda */
}

.hero {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;    
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(7, 116, 241, 0.514);
    color: #fff;
}

.hero-content h2 {
    font-size: 2em;
    text-align: left;
    padding: 20px;
}

input, textarea {
    color: black;
}

input::placeholder, textarea::placeholder {
    color: #de933b;
    font-weight: bolder;
}

.sobre {
    width: 97%;
    text-align: center;
    margin: auto;
}

.sobre img{
    width: auto;
    border-radius: 20%;
    border: 5px solid white;
    margin: 0 0 10% 0;
}

.sobre p{
    padding: 0 0 5% 3%;
}

.vantagens {
    width: 97%;
    /*text-align: center;*/
    margin: auto;
}

.vantagens img{
    width: auto;
    border-radius: 20%;
    border: 5px solid white;
    margin: 0 0 10% 0;
}

.vantagens p{
    padding: 0 0 5% 3%;
}

section .why {
    padding: 10px 0 0 10px;
    text-align: center;
}

.why h3{
    padding: 3% 0 0 0;
}

.why p{
    padding: 1% 0 2% 0;
}

.why img {
    max-width: calc(75% - 0px); /* Utilizando calc para a largura */
    height: auto;
    border: 5px solid white;
    border-radius: calc(15% + 0px); /* Utilizando calc para o raio da borda */
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.tarifa {
    max-width: 100%;
    text-align: center;
}

.tarifa{
    margin: 5% 0;
    text-align: center;
}

.tarifa img{
    max-width: calc(75% - 0px); /* Utilizando calc para a largura */
    height: auto;
    border: 5px solid white;
    border-radius: calc(15% + 0px); /* Utilizando calc para o raio da borda */
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.tarifa  ul {
    padding-left: 0;
  }
.tarifa li {
    list-style-position: inside;
    text-align: center;
  }

.service {
    text-align: center;
    margin-top: 3%;
}

.service img {
    max-width: calc(75% - 0px); /* Utilizando calc para a largura */
    height: auto;
    border: 5px solid white;
    border-radius: calc(15% + 0px); /* Utilizando calc para o raio da borda */
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.service img:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

.service h3{
    padding: 3% 0 0 0;
}

.service p{
    padding: 1% 0 2% 0;
}

.estrelas {
    font-size: 24px;
    color: #de933b;
    cursor: url('cursor.cur'), auto;
}

.estrelas-avaliacao {
    font-size: 24px;
    color: #fdd835;
}

.faq .resposta {
    display: none;
}

.faq .pergunta-titulo {
    cursor: url('cursor.cur'), auto;
    transition: transform 0.3s;
    font-size: medium;
}

.faq .pergunta-titulo.clicada {
    transform: translateX(calc(20px + 0px)); /* Utilizando calc para a transformação */
}

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.contacte {
    flex: 70%;
    padding: 20px;
}

.horario {
    flex: 30%;
    padding: 20px;
}

.contacte form {
    max-width: 500px;
    padding: 20px;
    border-radius: calc(5px + 0px); /* Utilizando calc para o raio da borda */
}

input {
    border: 1px solid #ccc;
}

label, input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: calc(5px + 0px); /* Utilizando calc para o raio da borda */
}

input::placeholder {
    color: #de933b;
    font-weight: bolder;
}

button {
    background-color: #de933b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: url('cursor.cur'), auto;
    border-radius: calc(5px + 0px);
}

button:hover{
    transform: scale(1.1);
}

.botao-whatsapp {
    display: inline-block;
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border-radius: calc(5px + 0px); /* Utilizando calc para o raio da borda */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botao-whatsapp i {
    margin-right: 10px;
}

.botao-whatsapp:hover {
    background-color: #128C7E;
    cursor: url('cursor.cur'), auto;
    transform: scale(1.1);
}

.footer {
    background-color: #de933b;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.footer .logo {
    margin-bottom: 20px;
}

.footer .logo img {
    max-width: 150px;
    height: auto;
}

.footer .redes-sociais h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .redes-sociais ul {
    list-style: none;
    padding: 0;
}

.footer .redes-sociais li {
    display: inline-block;
    margin: 0 10px;
}

.footer .redes-sociais a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    header .logo img, footer .logo img {
        width: calc(60% - 0px);
        height: auto;
        max-width: none;
        max-height: none;
    }

    header .menuu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #de933b;
        padding: 10px;
        width: 50%;
    }

    header .menu-icon {
        display: block;
        font-size: 24px;
        cursor: url('cursor.cur'), auto;
        color: #fff;
    }

    header .menu-icon.open {
        background-color: #de933b;
        color: #fff;
    }

    header .menu-icon.open + .menuu {
        display: block;
    }

    #home1{
        margin-top: 100px;
    }

    #home{
        text-align: center;
        }
    
    .texto{
        padding: 5%;
        width: 40%;
    }
    
    #home h1{
        font-size: 35px;
    }
    
    #home p{
        font-size: 20px;
    }

    .foto{
        padding: 5%;
    }
    
    .foto img{
        width:100%;
        border-radius: 10%;
        border: 5px solid white;
        aspect-ratio: 1 / 1;
    }
    
    .hero {
        position: relative;
        width: 93%;
        height: 300px;
        overflow: hidden;
    }

    .why img {
        max-width: calc(50% - 0px);
        height: auto;
        border: 5px solid white;
        border-radius: calc(15% + 0px);
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .service img {
        max-width: calc(50% - 0px);
        height: auto;
        border: 5px solid white;
        border-radius: calc(15% + 0px);
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #home1{
        margin-top: 100px;
    }

    #home{
        margin-top: 100px;
        text-align: center;
        }

    .texto{
        width: 100%;
        padding: 0;
    }
    
    #home h1{
        font-size: 45px;
    }
    
    #home p{
        font-size: 25px;
    }
    
    .foto{
        padding: 5%;
    }
    
    .foto img{
        width:100%;
        border-radius: 10%;
        border: 5px solid white;
    }
    

    .why img {
        max-width: calc(50% - 0px);
        height: auto;
        border: 5px solid white;
        border-radius: calc(15% + 0px);
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .service img {
        max-width: calc(50% - 0px);
        height: auto;
        border: 5px solid white;
        border-radius: calc(15% + 0px);
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
    
    .tarifa {
        max-width: 75%;
        text-align: center;
    }
    
}

@media screen and (min-width: 1025px) {

    body { 
        width: 98%;
    }
    
    section {
        padding: 80px 20px;
        border-radius: calc(5px + 0px);
    }

    #home {
        padding: 0 20px;
    }

    #home{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        }
    
    .texto{
        padding: 5%;
        width: 80%;
    }
    
    #home h1{
        font-size: 45px;
    }
    
    #home p{
        font-size: 25px;
    }
    
    .foto{
        padding: 5%;
        width: 100%;
    }
    
    .foto img{
        width:100%;
        border-radius: 10%;
        border: 5px solid white;
    }

    .hero-content h2 {
        font-size: 5em;
    }

    .logo img {
        width: 25%;
        height: auto;
    }

    .why {
        display: inline-block;
        width: 20%;
        margin: 1%;
        text-align: center;
        padding: 10px;
    }

    .why img {
        max-width: 100%;
        height: auto;
        border: 5px solid white;
        border-radius: 15%;
    }

    .service {
        display: inline-block;
        width: 20%;
        margin: 1%;
        text-align: center;
        padding: 10px;
    }

    .service img {
        max-width: 100%;
        height: auto;
        border: 5px solid white;
        border-radius: 15%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    #contact {
        display: flex;
    }

    .contacte {
        width: 70%;
    }

    .contacte #name, #email {
        width: 45%;
    }

    .contacte #message {
        width: 100%;
        height: 100px;
    }

    .contacte input::placeholder {
        color: black;
    }

    section {
        margin: 50px 0;
        padding: 10px;
        border-radius: 5px;   
    }

    .hero {
        position: relative;
        width: 97%;
        height: 300px; /* Ajuste a altura da seção conforme necessário */
        overflow: hidden; /* Oculta o conteúdo que excede a altura da seção */
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Coloca a imagem atrás do conteúdo */
    }

    .hero-image img {
        object-fit: cover; /* Redimensiona a imagem para preencher todo o espaço */
        width: 100%;
        height: 100%;
    }

    .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    .hero-content h2 {
        font-size: 2em;
        text-align: left; /* Alinhe o texto à esquerda */
        padding: 20px; /* Adicione espaço para afastar do canto esquerdo */
    }

    /* ... (seu CSS existente) */

    input::placeholder, textarea::placeholder {
        color: #de933b;
        font-weight: bolder;
    }

    section #whywe {
        text-align: center;
    }

    .why img {
        max-width: 75%;
        height: auto;
        border: 5px solid white;
        border-radius: 15%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    section .service {
        padding: 10px 0 0 10px;
        text-align: center;
    }

    .service img {
        max-width: 100%;
        height: auto;
        border: 5px solid white;
        border-radius: 15%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    /* Estilos para as estrelas */
    .estrelas {
        font-size: 24px;
        color: #de933b;
        cursor: pointer;
    }

    .estrelas-avaliacao {
        font-size: 24px;
        color: #fdd835; /* Cor das estrelas selecionadas (amarelo) */
    }

    .faq .resposta {
        display: none;
        /* As respostas ficarão ocultas por padrão */
    }

    .faq .pergunta-titulo {
        cursor: pointer;
        /* O ponteiro do mouse muda para um ícone de mão ao passar sobre as perguntas */
        transition: transform 0.3s;
        font-size: medium;
    }

    .faq .pergunta-titulo.clicada {
        transform: translateX(20px); /* Altere a distância conforme necessário */
    }
    /* Estilos para a seção "contact" */
    #contact {
        display: flex; /* Faz as divs ficarem lado a lado */
        flex-direction: row; /* Disposição em linha (padrão) */
        flex-wrap: nowrap; /* Evita quebras de linha */
        justify-content: space-between; /* Distribui o espaço entre as divs */
        align-items: center; /* Centraliza verticalmente o conteúdo */
    }

    .contacte {
        flex: 70%; /* A primeira div (contacte) ocupa 70% do espaço disponível */
        padding: 20px;
    }

    .horario {
        flex: 30%; /* A segunda div (horario) ocupa 30% do espaço disponível */
        padding: 20px;
    }

    /* Estilos para o formulário de contato e botão do WhatsApp (dentro da div contacte) */
    .contacte form {
            max-width: 500px; /* Define a largura máxima do formulário */
            padding: 20px;
            border-radius: 5px;
    }

    input{
        border: 1px solid #ccc;
    }

    label, input, textarea {
        width: 90%; /* Define a largura máxima para ocupar todo o espaço do formulário */
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

    input::placeholder{
        color: #de933b;
        font-weight: bolder;
    }

    button {
        background-color: #de933b;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    /* Estilos para o botão do WhatsApp */
    .botao-whatsapp {
        display: inline-block;
        background-color: #25d366; /* Cor do WhatsApp */
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .botao-whatsapp i {
        margin-right: 10px;
    }

    .botao-whatsapp:hover {
        background-color: #128C7E; /* Cor alternativa quando hover */
    }



    /* Estilos para o footer */
    .footer {
        background-color: #de933b;
        padding: 20px 0;
        color: #fff;
        text-align: center;
    }

    .footer .logo {
        margin-bottom: 20px;
    }

    .footer .logo img {
        max-width: 150px;
        height: auto;
    }

    .footer .redes-sociais h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer .redes-sociais ul {
        list-style: none;
        padding: 0;
    }

    .footer .redes-sociais li {
        display: inline-block;
        margin: 0 10px;
    }

    .footer .redes-sociais a {
        font-size: 24px;
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (max-width: 600px) {
    /* Estilos específicos para telefones */

    header .logo img, footer .logo img {
    width: 60%; /* Mantém a largura original do logotipo */
    height: auto; /* Mantém a altura original do logotipo */
    max-width: none; /* Remove a limitação de largura máxima */
    max-height: none; /* Remove a limitação de altura máxima */
}

    header .menuu {
        display: none; /* Oculta o menu no mobile por padrão */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #de933b;
        padding: 10px;
        width: 50%;
    }

    header .menu-icon {
        display: block; /* Exibe o ícone do menu no mobile */
        font-size: 24px;
        cursor: pointer;
        color: #fff;
    }

    header .menu-icon.open {
        background-color: #de933b;
        color: #fff;
    }

    /* Estilos para o menu hamburguer quando aberto */
    header .menu-icon.open + .menuu {
        display: block; /* Exibe o menu quando o ícone do menu está aberto */
    }
    .hero {
        position: relative;
        width: 93%;
        height: 300px; /* Ajuste a altura da seção conforme necessário */
        overflow: hidden; /* Oculta o conteúdo que excede a altura da seção */
    }

    .tarifa {
        max-width: 100%;
        text-align: center;
    }

    #contact {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .contacte {
        flex: 70%;
        padding: 20px;
    }
    
    .horario {
        flex: 30%;
        padding: 20px;
    }
    
    .contacte form {
        max-width: 90%;
        padding: 20px;
        border-radius: calc(5px + 0px); /* Utilizando calc para o raio da borda */
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */
    header {
        padding: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #home{
        padding: 50px 0 0 0;
    }
}
@media screen and (min-width: 1025px) {

    section {
        padding: 80px 20px;
        border-radius: 5px;      
    }

    #home{
        padding: 0 20px;
    }

    #home1{
        margin-top: 2%;
    }

    .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    }

    .hero-image img {
        object-fit: cover;
        width: 93%;
        height: 100%;
    }
    
    .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 93%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(7, 116, 241, 0.514);
        color: #fff;
        }

    .hero-content h2 {
        font-size: 5em;
    }

    .logo img{
        width: 25%;
        height: auto;
    }

    article{
        display: flex;
        justify-content: center;
    }

    .why {
        display: inline-block; /* Define as divs de serviços como elementos em linha */
        width: 20%; /* Define uma largura de 24% para garantir que quatro divs caibam na linha */
        margin: 1%; /* Adiciona uma pequena margem entre as divs */
        text-align: center; /* Centraliza o conteúdo dentro das divs */
        padding: 10px;
    }

    .why img {
        max-width: 100%;
        height: auto;
        border: 5px solid white;
        border-radius: 15%;
    }
    
    .vantagens{
        text-align: center;
        width: 75%;
    }

    .service {
        display: inline-block; /* Define as divs de serviços como elementos em linha */
        width: 20%; /* Define uma largura de 24% para garantir que quatro divs caibam na linha */
        margin: 1%; /* Adiciona uma pequena margem entre as divs */
        text-align: center; /* Centraliza o conteúdo dentro das divs */
        padding: 10px;
    }

    .tarifa {
    max-width: 25%;
    text-align: center;
    }
    
    .tarifa {
        margin: 5% 5%;
        text-align: center;
    }

    .service img {
        max-width: 100%;
        height: auto;
        border: 5px solid white;
        border-radius: 15%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    #contact{
        display: flex;
    }

    .contacte{
        width: 70%;
    }

    .contacte #name, #email{
        width: 45%;
    }

    .contacte #message{
        width: 100%;
        height: 100px;
    }

    .contacte input::placeholder{
        color: black;
    }

    section{
        margin: 0 5%;
    }
}
